<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exercises</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>List of Exercises</h1>
<table>
    <tr>
        <th>Exercise Name</th>
        <th>Set Count</th>
        <th>Repetition</th>
        <th>Exercise Date</th>
    </tr>
    <tr th:each="exercise : ${exercises}">
        <td th:text="${exercise.exerciseName}"></td>
        <td th:text="${exercise.setCount}"></td>
        <td th:text="${exercise.repetition}"></td>
        <td th:text="${exercise.exerciseDate}"></td>
    </tr>
</table>
<a th:href="@{${addExerciseUrl}}" class="btn btn-primary">Add Exercise</a>
</body>
</html>