.delete-button[type = "submit"] {
    padding: 5px 20px; /* Устанавливает отступы внутри кнопки удаления */
    font-size: 10px; /* Задает размер шрифта для кнопки удаления */
    text-align: center; /* Выравнивает текст в кнопке удаления по центру */
    text-decoration: none; /* Удаляет подчеркивание ссылки в кнопке удаления */
    /*background-color: #283655; !* Задает фоновый цвет для кнопки удаления *!*/
    /*color: white; !* Задает цвет текста для кнопки удаления *!*/
    border-radius: 4px; /* Задает скругление углов для кнопки удаления */
    border: none; /* Удаляет границу для кнопки удаления */
    cursor: pointer; /* Задает курсор при наведении на кнопку удаления */
}

.delete-button:hover[type = "submit"] {
    background-color: #4D648D; /* Задает фоновый цвет для кнопки удаления при наведении */
}

.save-button[type = "submit"] {
    width: 100%; /* Занимает 100% ширины родительского элемента */
    height: 30px; /* Задает высоту кнопки сохранения */
    /*background-color: #283655; !* Задает фоновый цвет для кнопки сохранения *!*/
    /*color: white; !* Задает цвет текста для кнопки сохранения *!*/
    padding: 10px 20px; /* Устанавливает отступы внутри кнопки сохранения */
    border: none; /* Удаляет границу для кнопки сохранения */
    border-radius: 4px; /* Задает скругление углов для кнопки сохранения */
    cursor: pointer; /* Задает курсор при наведении на кнопку сохранения */
    font-family: Arial, sans-serif; /* Задает шрифт для кнопки сохранения */
    font-size: 14px; /* Задает размер шрифта для кнопки сохранения */
    text-align: center; /* Выравнивает текст в кнопке сохранения по центру */
    line-height: 0; /* Удаляет отступы между строками в кнопке сохранения */
}

/*.save-button:hover[type = "submit"]{*/
/*    background-color: #4D648D; !* Задает фоновый цвет для кнопки сохранения при наведении *!*/
/*}*/

button[type="submit"] {
    padding: 10px 20px; /* Устанавливает отступы внутри кнопки */
    font-size: 16px; /* Задает размер шрифта для кнопки */
    text-align: center; /* Выравнивает текст в кнопке по центру */
    text-decoration: none; /* Удаляет подчеркивание ссылки в кнопке */
    background-color: #283655; /* Задает фоновый цвет для */
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4D648D;
}

.error-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-button:hover {
    background-color: #e60000;
}