.container {
    display: flex; /* Устанавливает контейнер в режиме flexbox */
}

.table-container {
    flex: 4; /* Устанавливает ширину элемента в 4 части от доступной ширины */
    margin-right: 20px; /* Устанавливает отступ справа для элемента */
    /*position: relative;*/
}

/*.table-container table {*/
/*    min-height: 200px; !* Здесь можно указать любую высоту *!*/
/*}*/

.forms-container {
    flex: 1; /* Устанавливает ширину элемента в 1 часть от доступной ширины */
    display: flex; /* Устанавливает контейнер в режиме flexbox */
    flex-direction: column; /* Устанавливает направление элементов в столбец */
    align-items: flex-start; /* Выравнивает элементы по левому краю контейнера */
    margin-left: 50px; /* Устанавливает отступ слева для элемента */
}

/*.select-container {*/
/*    width: 100%; !* Занимает 100% ширины родительского элемента *!*/
/*}*/

.pagination-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}

.select-container select {
    padding: 5px; /* Устанавливает отступ внутри выпадающего списка */
    font-size: 14px; /* Задает размер шрифта для выпадающего списка */
    border-radius: 4px; /* Задает скругление углов для выпадающего списка */
    border: 1px solid #ccc; /* Задает границу для выпадающего списка */
    width: 100%; /* Занимает 100% ширины родительского элемента */
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    padding: 5px; /* Устанавливает отступ внутри элементов ввода */
    border-radius: 4px; /* Задает скругленные углы для элементов ввода */
    border: 1px solid #ccc; /* Задает границу для элементов ввода */
    width: 100%; /* Занимает 100% ширины родительского элемента */
}

.error-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}


