form {
    margin-top: 20px; /* Устанавливает отступ сверху для формы */
}

form div {
    margin-bottom: 10px; /* Устанавливает отступ снизу для блока формы */
}

label {
    display: block; /* Задает элемент метки как блочный */
    font-weight: bold; /* Задает полужирное начертание для текста метки */
}

.add-exercise-form {
    margin-bottom: 20px; /* Устанавливает отступ снизу для формы добавления упражнения */
}