table {
    width: 100%; /* Занимает 100% ширины родительского элемента */
    border-collapse: collapse; /* Убирает отступы между ячейками таблицы */
}

.empty-table {
    text-align: center;
}

td {
    padding: 8px; /* Устанавливает отступ внутри ячейки */
    text-align: left; /* Выравнивает текст в ячейке по левому краю */
    border-bottom: 1px solid #1E1F26; /* Добавляет нижнюю границу для ячейки */
    height: 30px; /* Задает высоту ячейки */
}

th {
    background-color: #283655; /* Задает фоновый цвет для заголовка таблицы */
    color: white; /* Задает цвет текста для заголовка таблицы */
    padding: 8px; /* Устанавливает отступ внутри заголовка таблицы */
    text-align: left; /* Выравнивает текст в заголовке таблицы по левому краю */
    border-bottom: 1px solid #ddd; /* Добавляет нижнюю границу для заголовка таблицы */
    height: 30px; /* Задает высоту заголовка таблицы */
}

tr:nth-child(even) {
    background-color: #D0E1F9; /* Задает фоновый цвет для каждой второй строки таблицы */
}